{% load static %}
<html>
    <head>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Avances del Proyecto</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Practica Supervisada - Proyecto</a></h1>
        </div>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>16.09.2024</p>
                        </div>
                        <h2>Nose</h2>
                        <p>no se poner fotos, creo...</p>
                        <img src="https://i.postimg.cc/9fdChkNM/blog.png" alt="Formulario de Visual Basic" style="width:640px;">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
