<html>
    <head>
        <title>Avances del Proyecto</title>
    </head>
    <body>
        <div>
            <h1><a href="/">---Practica Supervisada---</a></h1>
        </div>

        <div>
            <p>published: 09.09.2024, 10:00</p>
            <h2><a href="">Primera Semana</a></h2>
            <p> No se poner fotos</p>
        </div>

        <div>
            <p>published: 09.09.2024, 10:00</p>
            <h2><a href="">Segunda Semana</a></h2>
            <p>No se poner fotos</p>
        </div>
    </body>
</html>