{% load static %}
<html>
    <head>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Avances del Proyecto</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Practica Supervisada - Proyecto</a></h1>
        </div>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>nose.09.2024</p>
                        </div>
                        <h2>Base de Datos</h2>
                        <p>Se creo la base de datos</p>
                        <img src="https://i.postimg.cc/0NYfktQd/Captura-de-pantalla-2024-09-04-215606.png" alt="Formulario de Visual Basic" style="width:640px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>12.09.2024</p>
                        </div>
                        <h2>Menú Inicial</h2>
                        <p>no se poner fotos, creo...</p>
                        <img src="https://i.postimg.cc/YqdTkCVq/Captura-de-pantalla-2024-09-18-112004.png" alt="Formulario de Visual Basic" style="width:640px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>12.09.2024</p>
                        </div>
                        <h2>Renta de maquinas</h2>
                        <p>no se poner fotos, creo...</p>
                        <img src="https://i.postimg.cc/3rCPSBFG/Captura-de-pantalla-2024-09-18-112200.png" alt="Formulario de Visual Basic" style="width:640px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>13.09.2024</p>
                        </div>
                        <h2>Factura</h2>
                        <p>no se poner fotos, creo...</p>
                        <img src="https://i.postimg.cc/MK6ghQ9F/Captura-de-pantalla-2024-09-18-112209.png" alt="Formulario de Visual Basic" style="width:640px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>17.09.2024</p>
                        </div>
                        <h2>Registrar clientes</h2>
                        <p>no se poner fotos, creo...</p>
                        <img src="https://i.postimg.cc/JztvhWV3/Captura-de-pantalla-2024-09-18-112216.png" alt="Formulario de Visual Basic" style="width:640px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>17.09.2024</p>
                        </div>
                        <h2>Busqueda</h2>
                        <p>no se poner fotos, creo...</p>
                        <img src="https://i.postimg.cc/g255XBmC/Captura-de-pantalla-2024-09-18-112224.png" alt="Formulario de Visual Basic" style="width:640px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>17.09.2024</p>
                        </div>
                        <h2>Login</h2>
                        <p>no se poner fotos, creo...</p>
                        <img src="https://i.postimg.cc/N0Hn1705/Captura-de-pantalla-2024-09-18-112231.png" alt="Formulario de Visual Basic" style="width:640px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>18.09.2024</p>
                        </div>
                        <h2>Registro de administradores</h2>
                        <p>no se poner fotos, creo...</p>
                        <img src="https://i.postimg.cc/Hx1h3cJ3/Captura-de-pantalla-2024-09-18-112237.png" alt="Formulario de Visual Basic" style="width:640px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>18.09.2024</p>
                        </div>
                        <h2>Menú administradores</h2>
                        <p>no se poner fotos, creo...</p>
                        <img src="https://i.postimg.cc/zBwPQzKN/Captura-de-pantalla-2024-09-18-112243.png" alt="Formulario de Visual Basic" style="width:640px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>18.09.2024</p>
                        </div>
                        <h2>Agregar maquinas</h2>
                        <p>no se poner fotos, creo...</p>
                        <img src="https://i.postimg.cc/KjZsS6DM/Captura-de-pantalla-2024-09-18-112251.png" alt="Formulario de Visual Basic" style="width:640px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>18.09.2024</p>
                        </div>
                        <h2>Registro empleados</h2>
                        <p>no se poner fotos, creo...</p>
                        <img src="https://i.postimg.cc/prqc2ss1/Captura-de-pantalla-2024-09-18-112259.png" alt="Formulario de Visual Basic" style="width:640px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>18.09.2024</p>
                        </div>
                        <h2>Registro comisiones</h2>
                        <p>no se poner fotos, creo...</p>
                        <img src="https://i.postimg.cc/T294qPTq/Captura-de-pantalla-2024-09-18-112306.png" alt="Formulario de Visual Basic" style="width:640px;">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
